.imgslide{
    width:100%;
    height:900px;
    /* height:100%; */
    background-image: url("./images/admission.png");
    background-size:100% 100%;
    animation-name:changeimg ; 
    animation-iteration-count:infinite;
    opacity: 80%;
    animation-delay: 5s;
    animation-duration: 20s;
}
@keyframes changeimg{
    0%{
        background-image: url("./images/WhatsApp\ Image\ 2023-08-27\ at\ 12.35.09.jpg");
    }
    25%{
        background-image: url("./images/WhatsApp\ Image\ 2023-08-27\ at\ 11.51.25.jpg");
    }
    50%{
        background-image: url("./images/WhatsApp\ Image\ 2023-08-27\ at\ 11.52.37.jpg");
    }
    75%{
        background-image: url("./images/WhatsApp\ Image\ 2023-08-27\ at\ 11.52.58.jpg");
    }
    100%{
        background-image: url("./images/WhatsApp\ Image\ 2023-08-27\ at\ 12.35.09.jpg");
    }
}
body{
    display:grid;
    width:100%;
    height:100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    
}
.heading{
    display: flex;
    gap:5px;
    background-color:blue ;
    color:white;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    
}
.heading a{
    color: aliceblue;
    text-decoration: none;
    
}
.heading2{
    display:flex;
    gap:6px;
    height: 80px;
    justify-content: space-evenly;

}
.heading2 img{
    height: 60px;
    border-radius: 50%;
    
}
.twodiv{
    display: flex;
    gap:0;
}

.nsut span{
    font-style: bold;
    font-size: 30px;

}
/* .rotate{
} */
.rotate:hover{
    transition: transform 1s;
    transition-timing-function: ease-in-out;
    transform: rotateY(360deg);
}
.nsut{
    color: rgba(31, 7, 4, 0.919);
}
.address{
    /* color:rgba(31, 7, 4, 0.919) ; */
    
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.address a{
    text-decoration: none;
    color: rgb(2, 2, 2);
    font-weight: 900;
}
.address a:hover{
    text-decoration: underline;
    /* color: rgb(128, 125, 125); */
}
.address .loc-icon{
    font-size: 45px;
    margin-left: 5px;
}
.About-NSUT{
    display: flex;
    flex-direction: column;
}
.About-NSUT h1{
   margin: 20px;
   /* text-decoration: underline; */
   font-size: 2.5rem;
   letter-spacing: 5px;
}
.About-NSUT .under{
    text-decoration: underline;
}
.About-NSUT p{
    width: 75%;
    margin-left: 20px;
    line-height: 1.5;
}
.btn-Know-more{
    width: 102px;
    height: 35px;
    border: 1.5px solid black;
    padding: 5px;
    margin-left: 20px;
    background-color: rgb(230, 213, 246);
    font-weight: bold;
}
.btn-Know-more:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}


.aboutus{
    position:relative;
    display: inline-block;
}

.aboutusspan{
color:black;
cursor:pointer;
}

.dropaboutus{
    display: none; 
    position: absolute;
   background-color:white;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: -1; */

}

.dropaboutus a{
    color:black;
padding:5px ;
text-decoration: none;
display: block;
}

.dropaboutus a:hover {
    background-color:black;
    font-weight: 400;
    color:white ;
    display: flex;

}

.aboutus:hover .dropaboutus {
    display: block;
  }
  
  .aboutus:hover .aboutusspan {
    background-color: #f1f1f1;
  }


.administration{
    position:relative;
    display: inline-block;
}

.administrationspan{
color:black;
cursor:pointer;
}

.dropadministration{
    display: none; 
    position: absolute;
   background-color:white;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: -1; */

}

.dropadministration a{
    color:black;
padding:5px ;
text-decoration: none;
display: block;
}

.dropadministration a:hover {
    background-color:black;
    font-weight: 400;
    color:white ;
    display: flex;

}

.administration:hover .dropadministration {
    display: block;
  }
  
  .administration:hover .administrationspan {
    background-color: #f1f1f1;
}

.academics{
    position:relative;
    display: inline-block;
}

.academicsspan{
color:black;
cursor:pointer;
}

.dropacademics{
    display: none; 
    position: absolute;
   background-color:white;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: -1; */

}

.dropacademics a{
    color:black;
padding:5px ;
text-decoration: none;
display: block;
}

.dropacademics a:hover {
    background-color:black;
    font-weight: 400;
    color:white ;
    display: flex;

}

.academics:hover .dropacademics {
    display: block;
  }
  
  .academics:hover .academicsspan {
    background-color: #f1f1f1;
  }








.dropadmissions a{
    color:black;
padding:5px ;
text-decoration: none;
display: block;
}

.dropadmissions a:hover {
    background-color:black;
    font-weight: 400;
    color:white ;
    display: flex;

}

.admissions:hover .dropadmissions {
    display: block;
  }
  
  .admissions:hover .admissionsspan {
    background-color: #f1f1f1;
}
.alumni{
    position:relative;
    display: inline-block;
}

.alumnispan{
color:black;
cursor:pointer;
}

.dropalumni{
    display: none; 
    position: absolute;
   background-color:white;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: -1; */

}

.dropalumni a{
    color:black;
padding:5px ;
text-decoration: none;
display: block;
}

.dropalumni a:hover {
    background-color:black;
    font-weight: 400;
    color:white ;
    display: flex;

}

.alumni:hover .dropalumni {
    display: block;
  }
  
  .alumni:hover .alumnispan {
    background-color: #f1f1f1;
}
.student{
    position:relative;
    display: inline-block;
}

.studentspan{
color:black;
cursor:pointer;}

.dropstudent{
    display: none; 
    position: absolute;
   background-color:white;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: -1; */

}

.dropstudent a{
    color:black;
padding:5px ;
text-decoration: none;
display: block;
}

.dropstudent a:hover {
    background-color:black;
    font-weight: 400;
    color:white ;
    display: flex;

}

.student:hover .dropstudent {
    display: block;
  }
  
  .student:hover .studentspan {
    background-color: #f1f1f1;
}
.resources{
    position:relative;
    display: inline-block;
}
.resourcesspan{
color:black;
cursor:pointer;
}
.dropresources{
    display: none; 
    position: absolute;
   background-color:white;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: -1; */

}
.dropresources a{
    color:black;
padding:5px ;
text-decoration: none;
display: block;
}
.dropresources a:hover {
    background-color:black;
    font-weight: 400;
    color:white ;
    display: flex;

}
.resources:hover .dropresources {
    display: block;
  }
  
  .resources:hover .resourcesspan {
    background-color: #f1f1f1;
}
.research{
    position:relative;
    display: inline-block;
}
.researchspan{
color:black;
cursor:presearch
}
.dropresearch{
    display: none; 
    position: absolute;
   background-color:white;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: -1; */

}
.dropresearch a{
    color:black;
padding:5px ;
text-decoration: none;
display: block;
}
.dropresearch a:hover {
    background-color:black;
    font-weight: 400;
    color:white ;
    display: flex;

}
.research:hover .dropresearch {
    display: block;
  }
  
  .research:hover .researchspan {
    background-color: #f1f1f1;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(144, 150, 148);
}
.heading{
    position:sticky;
}



